body{
     background:#e7ded4;
            background-image: url(images/noise.png);
            font-family: 'Martel Sans', sans-serif;
                margin-top: 0px;
}
.container{
    width: 1400px;
    height: auto;
}
.navBar, .navBarSections{
    display: flex;
    justify-content: space-between;
}
.navBar{
    padding: 0px 20px;
}
.name{
  font-weight: 800; 
  font-size: 25px;
  opacity: 0.7;
      padding-left: 10px;
}
.product, .shop, .about{
    padding-right: 80px;
    position: relative;
    bottom: -10px;
    font-size:18px;
    font-weight: 800;
}
.product{
    padding-left: 80px;
}
.shop, .about{
    opacity: .5;
}
.first, .second, .last{
    background-color: black;
        position: relative;
    bottom: -10px;
width: 15px;
height: 2px;
margin: 5px 0;
padding-right: 20px;
}
.dropDown .second{
width: 10px;

}
.dropDown .last{
width: 5px;

}
.section{
display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}


.bikeSection{
    display: grid;
        grid-template-columns: 0.5fr 1fr;
}
.mustard{
    border: 1px solid #E19B22;
    background-color:#E19B22;
    border-radius: 4px;
}


.mustard h1{
    font-size: 120px;
    color: #e7ded4;
    position: relative;
top: -90px;
text-align: end;
left: 12px;}

.info h1{
font-size: 120px;
position: relative;
top: -90px;

}
.info h2{  
    font-size: 50px;
    font-weight: 800;
    position: relative;
    top:-250px;
    padding: 10px;
    margin-left: 110px;
    opacity: 0.8;
}
.info p, .info h3, .info h4{
        padding-left: 15px;
        position: relative;
        top: -80px;
}
.info p{
    opacity: 0.5;
    font-size: 16px;
    font-weight: 520;
}
.info h3{
    font-size: 25px;
        opacity: 0.7;
        margin-bottom: 0;

}
.info h4{
    text-decoration: underline;
}
.info h4:hover, .info a:hover{
    cursor: pointer;
    color: #d2af74;
}
.info a{
    font-size: 18px;
    color: black;
            opacity: 0.7;
            text-decoration: none;
}
.fa-solid{
    transform: rotate(45deg);
    padding: 1px;
    scale: 0.8;
                opacity: 0.7;

}
.bike{
    width: 600px;
position: relative;
scale: 0.95;
left: 115px;
top: -680px;
}



@media (max-width:800px){
    .container{
        width: 100%;
    }
    .navBar{
        padding: 10px 20px;
    }
    .name{
        padding-left: unset;
    }

.product, .shop, .about{
    padding-right: 30px;

}
.product{
    padding-left: 30px;
}
    .mustard h1{
        left:37px;
        text-align: unset;
    }

    .info h1, .info h2{
position: relative;
left: 2px;
}
.info p, .info h3, .info h4{
        padding-left: 15px;
        position: relative;
        top: -100px;
}
.bike{
        width: 400px;
position: relative;
left: unset;
right:18px;
scale: 0.8;
top: -630px;
}

}
