
.container{
    margin: 0 auto;
    width: 100%;
    height: auto;

}
.noise{
    background:#e7ded4;
            background-image: url(images/noise.png);
}
.section{
display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.bikeSection{
    border: 1px solid black;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.tan{
    border: 1px solid black;
}
.mustard{
    border: 1px solid #E19B22;
    background-color:#E19B22;
    border-radius: 4px;
}

img{
    width: 600px;
    height: auto;
    position: relative;
    top: -600px;
    transform: rotateY(180deg);
left:75px;
}


@media (max-width:800px) {

    img{
        width: 300px;
    }
    
}


    img{
        width: 450px;
            position: relative;
    left:100px;
            top: -550px;
    }


margin-right: 0;


    .mustard h1{
    border: 1px solid green;
font-size: 120px;
color: #e7ded4;
position: relative;
text-align: right;
top: -90px;
letter-spacing: 10px;
left: 22px;
}



.info h1{
box-sizing: border-box;
width: auto;
border: 1px solid purple;
width: auto;
font-size: 120px;
position: relative;
top: -90px;

}
.info h2{
    
    font-size: 50px;
    font-weight: 800;
    position: relative;
    top:-250px;
    padding: 10px;
    margin-left: 120px;
    opacity: 0.8;
}